
.progress[data-v-17eb398c] {
  height: 3px;
  background: #009cff;
  z-index: 999;
  position: fixed;
  top: 0;
}
.progress-pink[data-v-17eb398c] {
  height: 3px;
  background: #ff005e;
  z-index: 9999;
  position: fixed;
  top: 0;
}


.bottom-tip .text {
  width: 800px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 10px;
  text-align: center;
  color: #fff;
  border-radius: 4px 4px 0 0;
}


.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  background: #21243a;
  padding: 10px;
  box-shadow: 0 2px 10px 0 rgba(4,21,39,0.2), 0 1px rgba(4,21,39,0.2);
  border-bottom: 1px solid #21243a;
}
.header .logo {
  position: absolute;
  top: 18px;
}
.header .logo img {
  height: 40px;
  position: relative;
  top: -8px;
}
.header .list {
  display: none;
}
.header .menu {
  display: inline-block;
  margin-left: 120px;
}
.header .menu a {
  color: rgba(255,255,255,0.8);
}
.header li {
  display: inline-block;
  padding: 10px;
  color: rgba(255,255,255,0.8);
  box-sizing: border-box;
}
.header .router-link-active li {
  color: #009cff;
}
.header .icon-tv {
  margin-right: 10px;
}
.bio {
  width: 1120px;
  margin: 0 auto;
  position: relative;
}
.bio a {
  display: flex;
  align-items: center;
}
.bio a .avatar {
  line-height: 0;
}
.bio a .avatar img {
  height: 30px;
  width: 30px;
  border-radius: 15px;
}
.bio .pr {
  position: absolute;
  right: 0;
  background: #009cff;
  font-size: 16px;
  padding: 5px 15px;
  top: -10px;
  z-index: 9;
}
.bio .pr span {
  position: relative;
  top: 15px;
}
.pr:before {
  content: '';
  height: 40px;
  width: 64px;
  background: #009cff;
  position: absolute;
  top: 30px;
  left: 0;
  border-radius: 0 0 40px 40px;
}
.biu {
  position: absolute;
  top: 0;
  right: 80px;
  z-index: 9999999;
  color: #fff;
  display: flex;
  align-items: center;
}
.biu li {
  display: inline-block;
  padding: 0 10px;
  line-height: 40px;
  cursor: pointer;
}


.footer[data-v-5903d545] {
  padding: 20px 0;
  margin-bottom: 60px;
}
.footer p[data-v-5903d545] {
  text-align: center;
}
.footer a[data-v-5903d545] {
  color: rgba(255,255,255,0.6);
  font-size: 12px;
}
.footer a[data-v-5903d545]:hover {
  color: #fff;
}
.footer .mail[data-v-5903d545] {
  background: #ff005e;
  font-size: 14px;
  color: #fff;
  padding: 2px 10px;
  display: inline-block;
  margin-bottom: 10px;
}


.login[data-v-66a2dfb5] {
  position: fixed;
  z-index: 999999;
}
.wrapper[data-v-66a2dfb5] {
  background: rgba(18,19,22,0.6);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 99999;
}
.on-login[data-v-66a2dfb5] {
  width: 300px;
  padding: 20px;
  background: #2b2e37;
  position: fixed;
  z-index: 999999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 1px 1px 5px #090c13;
}
.on-login li[data-v-66a2dfb5] {
  width: 100%;
  padding: 20px 15px;
  box-sizing: border-box;
}
.on-login li input[data-v-66a2dfb5] {
  width: 100%;
  border-bottom: 1px dashed #009cff;
  padding: 5px;
  color: #fff;
  background: #2b2e37;
  letter-spacing: 3px;
  box-sizing: border-box;
}
.on-login li input[data-v-66a2dfb5]:focus {
  border-bottom: 2px dashed #009cff;
}
.on-login li button[data-v-66a2dfb5] {
  background: #009cff;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  color: #fff;
  outline: none;
  cursor: pointer;
}


.home {
  margin: 60px auto !important;
}
.main {
  width: 100%;
  float: left;
}
.main .common-title {
  font-size: 13px;
  padding: 30px 0 10px 0;
  font-weight: lighter;
}
.left {
  width: 140px;
  padding: 10px 10px 0 0;
  float: left;
  vertical-align: top;
}
.right {
  float: right;
  width: 250px;
  vertical-align: top;
  padding: 10px 0 10px 10px;
  margin-top: 10px;
}
.gao {
  float: left;
  margin-left: 30px;
  text-align: center;
  background: #fff;
  color: #000;
  padding: 5px 20px;
  border-radius: 20px;
  margin-top: 20px;
}

/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input,
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* custom */
a {
  color: #7e8c8d;
  -webkit-backface-visibility: hidden;
  text-decoration: none;
}
li {
  list-style: none;
}
input {
  outline: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input,
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  color: #7e8c8d;
  -webkit-backface-visibility: hidden;
  text-decoration: none;
}
li {
  list-style: none;
}
input {
  outline: none;
}
body {
  background: #151c2d;
  color: rgba(255,255,255,0.8);
  font: 14px Microsoft YaHei;
  letter-spacing: 1px;
}
a {
  color: #ff005e;
}
blockquote {
  background: #151c2d;
  padding: 5px 15px;
  border-radius: 4px;
}
blockquote p {
  padding: 0;
}
.wrap {
  width: 1120px;
  margin: 0 auto;
}
.clear {
  clear: both;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track-piece {
  background-color: #131629;
}
::-webkit-scrollbar-thumb:vertical {
  height: 5px;
  background-color: #009cff;
}
::-webkit-scrollbar-thumb:horizontal {
  width: 5px;
  background-color: #ccc;
  -webkit-border-radius: 6px;
}
.content h1 {
  font-size: 22px;
  border-left: 5px solid #ffba00;
  padding-left: 10px;
  font-weight: bold;
  margin: 15px 0;
}
.content h2 {
  font-size: 22px;
  border-left: 5px solid #ff005e;
  padding-left: 10px;
  font-weight: bold;
  margin: 15px 0;
}
.content h3 {
  font-size: 16px;
  border-left: 5px solid #009cff;
  padding-left: 10px;
  font-weight: bold;
  margin: 15px 0;
}
.content code {
  background: #151c2d;
  padding: 3px 8px;
  border-radius: 2px;
  font-size: 16px;
  font-weight: bold;
  margin: 15px 0;
}
.content strong {
  font-weight: bold;
}

@media screen and (max-width: 480px) {
  .bio {
    display: none;
  }
  .wrap {
    width: 100%;
  }
  .post-list {
    padding: 5px !important;
  }
  .post-list li {
    width: 50% !important;
  }
  .post-list .post {
    margin: 2px !important;
  }
  .post-list .post .suo {
    height: 230px !important;
  }
  .post-list .post .suo img {
    height: 230px !important;
  }
  .post-list .post .info {
    margin: 0 !important;
  }
  .header .menu {
    margin-left: 60px !important;
    width: 100%;
    box-sizing: border-box;
    height: 40px;
    white-space: nowrap;
    overflow-x: scroll;
    float: left;
    -webkit-overflow-scrolling: touch;
    padding-right: 70px;
  }
  .week-list .content li {
    width: 50% !important;
  }
  .week-list .content li img {
    height: 60px !important;
    width: 60px !important;
  }
  .search-box {
    height: 50px !important;
  }
  .search-box input {
    width: 100% !important;
  }
  .search-box .search {
    width: 80% !important;
  }
  .search-box .icon-search {
    position: absolute !important;
    right: 5px !important;
    top: 5px !important;
  }
  .main .gonggao span {
    display: inline-block;
  }
  .comment,
  #ep-canvas {
    display: none;
  }
  .menu::-webkit-scrollbar {
    display: none;
  }
  .post-detail {
    width: 100% !important;
  }
  .player-wrap {
    width: 100% !important;
    height: 270px !important;
  }
  .player-wrap .play {
    width: 100% !important;
    height: 270px !important;
  }
  .player-wrap .play .ep {
    width: 100% !important;
    height: 270px !important;
  }
  .player-wrap .close {
    top: -35px !important;
    right: 0 !important;
  }
  .player-wrap .close .icon-close1 {
    background: transparent !important;
    border: 0 !important;
  }
  .right-btn {
    display: none !important;
  }
  .recommend-wrap .recommend .post-list {
    width: 100% !important;
    box-sizing: border-box;
  }
  .recommend-wrap .recommend .post-list li {
    float: none !important;
  }
  .recommend-wrap li:nth-child(5) {
    margin-right: 0 !important;
  }
}

