//初始化
@import "variable.styl"
@import "reset.styl"

//公共样式

body
  background: $bg-color
  color: $color
  font: 14px Microsoft YaHei
  letter-spacing: 1px

a
  color: $a-color

blockquote
  background: #d5f0fe
  padding: 20px
  box-shadow: 1px 1px 0 #99dff3

blockquote p
  padding: 0

.wrap
  width: 1140px
  margin 0 auto

.first-child
  padding-left 0 !important