//初始化
@import "variable.styl"
@import "reset.styl"

//公共样式

body
  background: $bg-color
  color: $color
  font: 13px Microsoft YaHei
  letter-spacing: 1px

a
  color: $pink-color

blockquote
  background: $d-color
  padding: 20px

blockquote p
  padding: 0

.wrap
  width: 1100px
  margin 0 auto

.clear
  clear both