@import "variable.styl"
@media screen and (max-width: 480px)
  .bio
    display none

  .wrap
    width 100%

  .post-list
    padding: 5px !important
    li
      width 50% !important
    .post
      margin: 2px !important
      .suo
        height 230px !important
        img
          height 230px !important
      .info
        margin: 0 !important

  .header
    .menu
      margin-left: 60px !important
      width 100%
      box-sizing border-box
      height 40px
      white-space: nowrap
      overflow-x: scroll
      float: left
      -webkit-overflow-scrolling: touch
      padding-right 70px

  .week-list
    .content
      li
        width 50% !important
        img
          height 60px !important
          width 60px !important

  .search-box
    height 50px !important
    input
      width 100% !important
    .search
      width 80% !important
    .icon-search
      position: absolute !important
      right: 5px !important
      top: 5px !important

  .main
    .gonggao
      span
        display inline-block

  .comment,#ep-canvas
    display none

  .menu::-webkit-scrollbar
    display: none

  .post-detail
    width 100% !important

  .player-wrap
    width 100% !important
    height 270px !important
    .play
      width 100% !important
      height 270px !important
      .ep
        width 100% !important
        height 270px !important
    .close
      top: -35px !important
      right 0 !important
      .icon-close1
        background transparent !important
        border: 0 !important