//颜色定义规范
$bg-color = #fafafa
$color = #333
$pink-color = #ff3773
$blue-color = #34b8fd
$green-color = #77c238
$orange-color = #ff8000
$yellow-color = #FFBA00
$cyan-color = #3accc9
$b-color = #e5e5e5
$t-color = rgba(255, 255, 255, 0.5)
$l-color = #35355a
$black-color = #272727
//字体定义规范

$common-font = 14px
$small-font = 12px
$large-font = 22px
