//颜色定义规范
$bg-color = #151C2D
$color = rgba(255,255,255,.8)
$d-color = #2b2e37
$pink-color = #FF005E
$blue-color = #009CFF
$yellow = #FFBA00
$b-color = #21243A
$t-color = rgba(255, 255, 255, 0.5)
//字体定义规范

$common-font = 14px
$small-font = 12px
$large-font = 22px
