//颜色定义规范
$bg-color = #171a21
$color = #b8b6b4
$d-color = #2b2e37
$a-color = #FF677D
$p-color = #b8b6b4
$t-color = rgba(255, 255, 255, 0.5)
//字体定义规范

$common-font = 14px
$small-font = 12px
$large-font = 22px
