@import "../../public/css/var.styl"

.ugc-list
  background $bbb
  padding-bottom 50px
  .posts
    li
      display inline-block
      width 25%
      text-align center
      .post
        background #fff
        margin: 10px
        border-radius 2px
        box-shadow $shadow
      .cover, .cover img
        height 160px
        width 100%
        object-fit cover
      .title
        overflow hidden
        padding-left: 10px
        height 18px
      .info
        display flex
        padding: 10px
        align-items center
      .uqq,.uqq img
        height 40px
        width 40px
        border-radius 50%