.login {
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login li {
    padding: 8px 0;
    text-align: center;
}

.login li input {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 1px 1px 1px rgba(70, 75, 150, 0.2);
    border: 0px;
}

.login li button{
    background: #7e5fd9;
    width: 100%;
    border: 0px;
    box-shadow: 1px 1px 1px rgba(60, 32, 105, 0.6);
    padding: 10px;
    color: #fff;
    cursor: pointer;
}
.login li a{
    text-align: center;
}

.login h1{
    color: #7e5fd9;
    font-size: 40px;
    padding: 10px;
}