.search
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -70%)
    input
        padding 10px 15px
        border-radius 22px
        border 3px solid $theme
        background #fff
        width 300px
    span 
        position absolute
        right 10px
        top: 8px
    .icon-search
        font-size: 24px
        font-weight: bold
        color: $theme      