@import "../../public/css/var.styl"

.rank
  width 310px
  .title
    padding: 0 10px
    height 21px
    overflow hidden
  .cover,.cover img
    width 150px
    height 210px
    box-shadow $shadow
    border-radius 2px
    object-fit cover
  .current
    display flex
    position relative
    padding 0 7px 14px 7px
    .title
      font-size: 16px
    .bom
      position absolute
      display flex
      align-items baseline
      bottom 12px
      .tag
        font-size: 12px
        padding 0 10px
        color: $grey
      .idx
        font-size: 60px
        color: $theme
        font-weight: bold
        position: relative
        bottom: -18px
  li
    display flex
    padding: 7px
    cursor pointer
    span
      font-size:16px
      font-weight bold
      color: $grey
    .active
      color: $theme


