.ep
  position relative

.mark
  background rgba(0,0,0,.8)
  position fixed
  top 0
  bottom 0
  right 0
  left 0
.ep
  width 800px
  height 450px
  position fixed
  top 50%
  left 50%
  transform translate(-50%,-50%)
  z-index 1

.close
  position absolute
  top 0
  right -50px
  z-index 1
  color #fff
  cursor pointer
  padding 10px
  .icon-close
    font-size 24px