@import '../../public/css/var.styl'

.post-detail
  width 100%
  display flex
  margin 20px 0

.left
  width 520px
  padding 10px

article
  img
    width 100%
    border-radius 2px

  h1
    font-size 18px
    font-weight bold

  h2
    font-size 16px
    font-weight bold

  h3
    font-size 14px
    font-weight bold

.right
  .info
    width 600px
    padding 10px

    .user
      display flex
      align-items center

    .avatar, .avatar img
      width 60px
      height 60px
      border-radius 30px

    span
      padding 10px

    .uid
      color #bbb

  .title
    display flex
    padding 10px
    align-items center

    h1
      height 38px
      overflow hidden
      padding 0
      display inline-block

    .pv
      background $theme
      padding 10px 15px !important
      border-radius 40px 40px 40px 0
      color #fff
      font-size 14px
      text-align center
      margin-left 20px

  .copyright
    padding 0 20px
    font-size 20px
    color #888

  .other
    padding 20px 0
    display none
