.post-detail
  width 100%
  display flex
.left
  width 520px
  padding 20px 10px
article
  img[alt=suo]
    width 100%
    border-radius 2px
  img
    max-width 100%
    border-radius 2px
  h1
    font-size 18px
    font-weight bold
    padding 0 10px
    margin 20px 0
    border-left 5px solid $theme
  h2
    font-size 16px
    font-weight bold
    padding 0 10px
    margin 18px 0
    border-left 5px solid $theme
  h3
    font-size 14px
    font-weight bold
    padding 0 10px
    margin 16px 0
    border-left 5px solid $theme
  blockquote
    word-wrap break-word
    background rgba(148, 108, 230, 0.1)
    color $theme
    padding 10px
    margin 10px 0
  a
    text-decoration none
    color $theme
    padding 0 5px
    font-weight bold
.right
  width 600px
  padding 10px
  margin 20px auto
  .info
    .user
      display flex
      align-items center
    .avatar, .avatar img
      width 60px
      height 60px
      border-radius 30px
    span
      padding 10px
    .uid
      color #bbb
  .title
    display flex
    padding 10px
    align-items center
    h1
      overflow hidden
      padding 0
      display inline-block
    .pv
      background $theme
      padding 10px 15px !important
      border-radius 40px 40px 40px 0
      color #fff
      font-size 14px
      text-align center
      margin-left 20px
  .copyright
    padding 10px
    font-size 20px
    color #888
  .other
    padding 20px 0
    display none
