header
  height 180px
  box-shadow $shadow
  background url('https://ae01.alicdn.com/kf/U251ceb70165240ef865c7bed275579feN.jpg') center top
  background-size auto 100%
.header
  position absolute
  color #fff
  top 0
  left 0
  right 0
  text-shadow 0 1px 1px rgba(0, 0, 0, 0.24)
  .nav
    padding 20px 0
    li
      display inline-block
      cursor pointer
      padding 2px 10px
      border-radius 10px
      transition 0.3s
    li:hover
      background $theme
  .wrap
    display flex
    align-items center
  .logo
    margin 0 10px
    width 150px
    height 86px
    background url('https://p.pstatp.com/origin/ffe900005cf65f21f262')
    background-size contain
    h1
      font-size 14px
      display inline-block
      padding-bottom 5px
  a
    color #fff
    margin 0 10px
  li.active
    background $linear
  .biu
    position absolute
    right 0
    .login
      padding 2px 5px
      border-radius 10px
      transition 0.3s
      background transparent
    .login:hover
      background $theme
    .user-center
      background $linear
      border-radius 2px
      padding 5px 30px
      margin-left 10px
  .call
    background #fff
    margin 0 auto
    padding 2px 10px
    display inline-block
    border-radius 10px
    color $theme
    border 1px solid $theme
    margin-left 10px