@import "../../public/css/var.styl"

.footer
  background $bg
  color: #fff
  display flex
  padding: 50px 30px
  a
    color #fff
    display block
    padding 5px
    li
      text-align center
      padding: 10px
    i
      display block
      margin: 10px
  .wrap
    display: flex
    align-items center
  .title
    display flex
    align-items center
    flex 3
    img
      width: 80px
      height 80px
      border-radius 10px
    h1
      font-size: 25px
      font-weight normal
      padding: 20px
  .links
    flex: 3
    li
      width 50%
      display inline-block
  .icons
    flex: 4
    border-left 1px solid #253c56
    display flex
    justify-content center
    li
      padding: 0 20px
      display inline-block
      .icon-font
        color: #fff
        font-size: 30px
        padding: 12px
        border-radius: 50%
      .icon-qq
        background #32e3ff
      .icon-weibo
        background #ff3261
      .icon-xiazai
        background: #c332ff