@import "../../public/css/var.styl"

*
  padding 0
  margin 0

body, :host
  font: 14px '14px -apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,sans-serif'
  color: #444
  padding 0
  margin 0

a
  text-decoration: none
  color: #444444

li
  list-style: none

input, button
  outline: none

.wrap
  width: 1160px
  margin: 0 auto
  position: relative


h1
  font-size: 28px
  font-weight: normal
  padding: 30px 0

img
  background: #f4f6fa

::-webkit-scrollbar
  background #fff

::-webkit-scrollbar-thumb
  background #e5a6ff
  border-radius 2px

::-webkit-scrollbar-track
  background #f8f0ff


