@import "variable.styl"
@media screen and (max-width: 480px)
  .uper, .search-box, .logo, .notice, .recommend, .write
    display none !important

  .wrap
    width 100%

  .post-list
    padding: 5px !important
    li
      width 50% !important
    .post
      margin: 2px !important
      .suo
        height 230px !important
        img
          height 230px !important
      .info
        margin: 0 !important

  .header
    padding 0
    .menu
      position relative
      display flex
      width 100%
      justify-content center
      align-items center
      right 0
      li
        flex: 1
        display block
        text-align center
        padding 10px 0
        a
          padding: 10px 0
        .router-link-active
          border-bottom: 2px solid $qing
          height 100%
        a:hover:before
          display none

  .home
    margin 50px auto !important

  .week-list
    ul.day
      display flex
      align-items center
      justify-content center
      li
        padding: 5px 0 !important
        margin: 10px !important
        flex: 1

  .comment, #ep-canvas
    display none

  .menu::-webkit-scrollbar
    display: none

  .post-detail
    width 100% !important

  .player-wrap
    width 100% !important
    height 270px !important
    .play
      width 100% !important
      height 270px !important
      .ep
        width 100% !important
        height 270px !important
    .close
      top: -35px !important
      right 0 !important
      .icon-close1
        background transparent !important
        border: 0 !important

  .right-btn
    display none !important

  .recommend-wrap
    .recommend
      .post-list
        width 100% !important
        box-sizing: border-box
        li
          float none !important
    li:nth-child(5)
      margin-right 0 !important