@import "variable.styl"
@media screen and (max-width: 480px)
  .uper, .search-box, .logo, .notice, .recommend, .write, .option, .comment
    display none !important

  .wrap
    width 100%

  .header
    padding 0
    .menu
      position relative
      display flex
      width 100%
      justify-content center
      align-items center
      right 0
      li
        flex: 1
        display block
        text-align center
        padding: 0 !important
        a
          display block
          padding: 10px 0
        .router-link-exact-active
          border-bottom: 2px solid $qing
        a:hover:before
          display none

  .home
    margin 45px auto !important

  .week-list
    height auto !important
    .day
      display flex
      align-items center
      justify-content center
      li
        padding: 5px 0 !important
        margin: 10px !important
        flex: 1
    .content
      li
        width 50% !important
        img
          width 60px !important
          height 60px !important

  .post-list
    ul
      li
        width 33.3% !important
        padding: 0
      .suo, .suo img
        height 160px !important
        border-radius 0 !important
      .post
        padding: 1px
        .title
          height 20px
          overflow hidden
        .info
          margin: 10px 0

  .ugc-list
    width 100% !important
    .masonry
      column-count 1 !important
      .item
        margin: 10px 0 !important
        border-radius 0 !important

  .post-detail
    width 100% !important

  .player-wrap
    width 100% !important
    height 270px !important
    .play
      width 100% !important
      height 270px !important
      .ep
        width 100% !important
        height 270px !important
    .close
      top: -60px !important
      right 50% !important
      transform translate(50%, 0)
