//颜色定义规范
$bg-color = #001935
$t-color = rgba(255,255,255,0.05)
$color = rgba(255, 255, 255, .8)
$pink = #FF005E
$red = #f52323
$blue = #009CFF
$yellow = #FFBA00
$qing = #00fff6
$green = #00be06
$l-color = #184d6b
$b-color = #21374f
$grey = #bcc2ca
$write = #fbfeff
//字体定义规范

$common-font = 14px
$small-font = 12px
$large-font = 22px
