@import "../../public/css/var.styl"

.tab
  background $theme
  height auto
  li
    display inline-block
    padding 20px
    cursor: pointer
    color #fff
    border-top 2px solid $theme
  li:hover
    border-top-color #fff