.tab
  background $theme
  height auto
  li
    display inline-block
    padding 20px
    cursor: pointer
    color #fff
    border-top 3px solid $theme
  li:hover
    border-top-color #fff
.active
  border-top-color #fff!important  
.tab-right 
  float right  