.reach-box input {
    padding: 10px;
    box-shadow: 1px 1px 1px rgba(70, 75, 150, 0.2);
    border: 0;
    width: 300px;
    margin-right: 20px;
    box-sizing: border-box;
    background: #F6F6F3;
}

.reach-box button {
    background: #7e5fd9;
    padding: 8px 30px;
    color: #fff;
    margin: 0 auto;
    border: 0;
    box-shadow: 1px 1px 1px rgba(70, 75, 150, 0.6);
    cursor: pointer;
}