.video-list
  width 600px
  float left
  padding 10px
  .item
    display flex
    align-items center
    padding 10px
    cursor pointer
    img
      width 40px
      height 40px
      border-radius 50%
      margin 6px 10px
    span
      padding 10px
  .item:nth-of-type(even)
      background #f4f6fa